#component-intro {
  .content {
    h1.title {
      font-size: 7em;
      margin: 0;
    }
    .title, .subtitle {
      font-family: "Major Mono Display", "Share Tech Mono", monospace;
      text-align: center;
    }
  }
}